// app global css in SCSS form

body{
  font-family: $font-family
}

.auht {
  //background-image: url(../title-img.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.container-fluid{
  width: 100%;
  padding-right:12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}
.container{
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: $breakpoint-xs){
    max-width: 540px
  }

  @media screen and (min-width: $breakpoint-sm){
    max-width: 720px
  }

  @media screen and (min-width: $breakpoint-md){
    max-width: 960px
  }

  @media screen and (min-width: $breakpoint-lg){
    max-width: 1140px
  }

}
.page-content {
  padding:0 calc(24px / 2) 60px calc(24px / 2); }

.page-title-box{
  background: $primary url(~assets/title-img.png) center;
  margin: 0 -24px 23px -24px;
  padding: 24px 24px 92px 24px;
  background-size: cover;
  width: 100%;
  color: #fff;
  height: 200px;
  .h4, h4{
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 77px;
    font-size: 16px!important;
    line-height: 1rem;
  }
  .breadcrumb{
    background-color: transparent;
    padding: 0;
  }
}
.page-content-wrapper {
  margin-top: -90px;
}
