// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

$primary   : #52a5e5;
$secondary : #74788d;
$accent    : #9C27B0;

$dark      : #343a40;

$positive  : #34c38f;
$negative  : #f46a6a;
$info      : #5ba4e5;
$warning   : #f1b44c;

$font-family: "Inter";

